@font-face {
    font-family: "Garamond";
    src:
      url("assets/font/GARABD.TTF");
    font-weight: regular;
  }

body {
    font-family: "Garamond";
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b0c4de; /* Light blue background color */
    text-transform: lowercase;
    cursor: url("assets/default_cursor.png"), auto;
}

.close-button:hover {
  cursor: none;
  color: red;
}

#close_text {
  font-family: "Garamond";
  font-size: 18px;
  margin: 5px;
}

#close_text:hover {
  color: red;
  cursor: none;
}

  #bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: grayscale(1);
  }
  
  .desktop {
    display: grid;
    grid-template-columns: 200px 120px; /* Adjust column count as needed */
    gap: 20px;
    padding: 20px;
  }
  
  .folder {
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    animation: appear 2s;
  }

  @keyframes appear {
    from {
      opacity: 0%;
    } to {
      opacity: 100%;
    }
  }
  
  .folder:hover {
    transform: scale(1.05);
  }
  
  .folder-icon {
    width: 70px;
    height: 70px;
    cursor: url("assets/select_cursor.png"), auto;
  }
  
  .folder-name {
    margin-top: 10px;
    font-size: 16px;
  }

  .folder-name:hover {
    cursor: url("assets/rename_cursor.png"), auto;
  }

  .subwindow {
    background-color: rgba(255,255,255,0.1);
    width: 60%;
    height: auto;
    top: 10%;
    left: 30%;
    position: absolute;
    z-index: 3;
    display: none;
    cursor: url("assets/select_cursor.png"), auto;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
  }

  .grid-item {
    height: auto;
  }
  
  .grid-item img,
  .grid-item video {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
    filter: grayscale(1.0);
  }
  
  #filename {
    margin-top: 5px;
    font-size: 16px;
  }
  
  #filename:hover {
    cursor: url("assets/rename_cursor.png"), auto;
}

  .close-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .close-button img {
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
  }

  .editable:focus {
    border: 1px solid black; /* Change border color when focused */
    outline: none; /* Remove default focus outline */
    background-color: rgba(255,255,255,0.1); /* Change background color when focused */
}
